<% include top/header %>

<!-- Display tutors' schedule -->
<div class="tutor-box">
    <% if(tutors.length < 1){ %>
        <h1>No schedule is available!</h1>
    <% } else { %>
        <% tutors.forEach(el => { %>
            <% let data = JSON.stringify(el).replace('Tutor', '') %>
            <% data = JSON.parse(data) %>
            <% let timesObj = data.work_schedules %>
            <!-- convert object to array (working time)-->
            <% var timesArr = Object.keys(timesObj).map(function(key) { %>
                <% return timesObj[key]; %>
            <% }); %>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= data.firstName %> <%= data.lastName %></h3>
                </div>
                <div class="panel-body">
                    <!-- time button  -->
                    <% for(let i = 0; i < timesArr.length; i++) { %>
                        <a href="#myModal" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal"
                           data-subject-id="<%= selectedSubjectID %>"
                           data-subject="<%= selectedSubject %>"
                           data-tutor="<%= data.firstName %> <%= data.lastName %>"
                           data-tutor-id="<%= data.id %>"
                           data-student-id="<%= userID %>"
                           data-date="<%= selectedDate %>"
                           data-unix-time="<%= unixTimeStamp %>"
                           data-start="<%= timesArr[i]['from']['time'] %>"
                           data-end="<%= timesArr[i]['to']['time'] %>">
                            <%= timesArr[i]['from']['time']; %>
                        </a>
                    <% } %>
                </div>
            </div>
        <% }); %>
    <% } %>
</div>
<!-- End display tutors' schedule -->

<!-- Confirmation box -->
<div class="modal fade bs-example-modal-xs" tabindex="-1" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Review Your Information</h4>
            </div>
            <div class="modal-body">
                <label>Subject: </label><span id="subject"> </span><br>
                <label>Tutor: </label><span id="tutor"> </span><br>
                <label>Date: </label><span id="date"> </span> <br>
                <label>Start: </label><span id="start"> </span> <br>
                <label>End: </label><span id="end"> </span> <br>
                <label>Notes: </label><br>
                <textarea name="" id="" cols="30" rows="5"></textarea>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-primary"
                            id="confirmOk"
                            data-toggle="modal"
                            data-target="#book-appt">Book Appt</button>
                    <button type="button"
                            class="btn btn-danger"
                            id="confirmCancel"
                            data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End confirmation box -->

<script>
    $(document).ready(function () {
        // show the form of modal
        let tutor_id = '', tutor = '', subject = '', date = '', startTime = '', endTime = '';
        // these data to save to the appointment
        let student_id = '', unixTimeStamp = '', subject_id = '';

        // show form
        $(function () {
            $('#myModal').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget); // Button that triggered the modal
                tutor = button.data('tutor');
                tutor_id = button.data('tutor-id');
                student_id = button.data('student-id');
                subject = button.data('subject');
                date = button.data('date'); // Extract info from data-* attributes
                startTime = button.data('start');
                endTime = button.data('end');
                unixTimeStamp = button.data('unix-time');
                subject_id = button.data('subject-id');

                // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                let modal = $(this);
                modal.find('#subject').text(subject);
                modal.find('#tutor').text(tutor);
                modal.find('#date').text(date);
                modal.find('#start').text(startTime);
                modal.find('#end').text(endTime);
            });
        });

        // react with Ok button
        $('#confirmOk').on('click', (function (e) {
            const allInformation = {
                apptDate: unixTimeStamp,
                dateCreated: unixTimeStamp,
                student_id: student_id,
                subject_id: subject_id,
                time: {
                    from: startTime,
                    to: endTime
                },
                tutor_id: tutor_id,
                status: 'pending'
            }
            $.ajax({
                url: '/confirm-appointment',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(allInformation),
                success: function (data) {
                        // ....

                },
                alert: function () {
                    alert('Please try again!!!');
                }
            });
            window.location.href = "/categories";// redirect to another page
        }));

    });

</script>

<% include bottom/footer %>
